.c-input {
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
    background: #eff4f6;
    padding-left: 25px;
    border-left: solid 8px transparent;
}
.c-input:focus,
.c-input:hover {
    border-left: solid 8px #b30000;
}
.c-textarea {
    height: 190px;
}
